<html>
  <head>
    <title>Low Maintenance Book Club Home</title>
  </head>
  <body>
    <h1>Welcome to the Low Maintenance Book Club!</h1>
    <div>
      <div>
        <h2>Recently Suggested:</h2>
        <ul>
          {% for book in books %}
          <li>{{ book }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h2>Links:</h2>
        <ul>
          <li><a href="{% url 'suggest' %}">Suggest a Book!</a></li>
        </ul>
        <ul>
          <li><a href="{% url 'login' %}">login</a></li>
        </ul>
        <ul>
          <li><a href="{% url 'signup' %}">signup</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
